<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PixelPic</title>
    <link rel="stylesheet" href="static/css/styles.css" />
  </head>
  <body>
    <div class="login-column">
      <section>
        <div class="trapezoid1"></div>
        <div class="forgotpassword">
          {% if reset_success %}
          <p class="reset-success-message">
            Password reset email sent successfully!
          </p>
          {% endif %}
          <p class="forgotpassDisc">
            Please enter your registered email address, and you will receive a
            password reset link through email.
          </p>
          <form
            id="forgotPasswordForm"
            method="POST"
            action="{{ url_for('reset_password') }}"
          >
            <p class="forgotEmail">Email</p>
            <input class="forgot-pass-email" id="email" name="email" required />
            <div class="forgotpass-buttons">
              <input type="submit" class="forgot-pass-submit" value="Submit" />
              <a class="back-button" href="{{ url_for('login') }}">Back</a>
            </div>
          </form>
        </div>
        <div class="trapezoid2"></div>
      </section>
      <section>
        <div class="description">
          <img
            class="logo"
            src="../static/utils/images/pixelpic_logo.png"
            alt="Pixel Pic"
          />
          <img
            class="sample"
            src="../static/utils/images/sample.png"
            alt="Sample Pic"
          />
          <p class="desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut
            metus ut velit maximus gravida sed a elit. Donec nisi velit,
            vehicula sit amet sodales in, placerat eget nisi. Ut consectetur
            scelerisque est, eu finibus orci congue quis. Aliquam cursus vel
            eros eget dictum. Sed tempor lorem tincidunt convallis molestie.
          </p>
        </div>
      </section>
    </div>

    <script src="https://www.gstatic.com/firebasejs/9.1.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.1.2/firebase-auth.js"></script>
    <script>
      const firebaseConfig = {
        apiKey: "AIzaSyAU64526sGBB8ZP-M7mgocQkSbyAFJ3klM",
        authDomain: "pixelpix-4dbb5.firebaseapp.com",
        databaseURL: "https://pixelpix-4dbb5-default-rtdb.firebaseio.com",
        projectId: "pixelpix-4dbb5",
        storageBucket: "pixelpix-4dbb5.appspot.com",
        messagingSenderId: "574563555513",
        appId: "1:574563555513:web:333039f782b9e0b87aa368",
        measurementId: "G-XD1HMR66RR",
      };

      firebase.initializeApp(firebaseConfig);

      document
        .getElementById("forgotPasswordForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();

          const email = document.getElementById("email").value;

          firebase
            .auth()
            .sendPasswordResetEmail(email)
            .then(() => {
              document.getElementById("reset-success").style.display = "block";
            })
            .catch((error) => {
              console.error(error);
              alert("Failed to send password reset email. Please try again.");
            });
        });
    </script>
  </body>
</html>
