<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PixelPic</title>
    <link rel="stylesheet" href="static/css/styles.css" />
  </head>
  <body>
    <form method="POST" action="{{ url_for('register') }}">
      <div class="login-column">
        <section>
          <div class="trapezoid1"></div>
          <div class="register">
            <p class="first-name">First Name</p>
            <input type="text" name="first_name" />
            <p class="last-name">Last Name</p>
            <input type="text" name="last_name" />
            <p class="username">Username</p>
            <input type="text" name="username" />
            <p class="email">Email</p>
            <input type="text" name="email" />
            <p class="password">Password</p>
            <input type="password" name="password" id="password" />
            <p class="confirm-password">Confirm Password</p>
            <input
              type="password"
              name="confirm_password"
              id="confirm_password"
            />
            <a class="old-user" href="{{ url_for('login') }}"
              >Already have an account?</a
            >
            <button class="signup-button" type="submit">SIGN UP</button>
            {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
            {% endif %}
            <p id="password_error" class="error"></p>
          </div>
          <div class="trapezoid2"></div>
        </section>
        <section>
          <div class="description">
            <img
              class="logo"
              src="../static/utils/images/pixelpic_logo.png"
              alt="Pixel Pic"
            />
            <img
              class="sample"
              src="../static/utils/images/sample.png"
              alt="Sample Pic"
            />
            <p class="desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut
              metus ut velit maximus gravida sed a elit. Donec nisi velit,
              vehicula sit amet sodales in, placerat eget nisi. Ut consectetur
              scelerisque est, eu finibus orci congue quis. Aliquam cursus vel
              eros eget dictum. Sed tempor lorem tincidunt convallis molestie.
            </p>
          </div>
        </section>
      </div>
    </form>

    <script>
      const passwordInput = document.getElementById("password");
      const confirmPassInput = document.getElementById("confirm_password");
      const passwordError = document.getElementById("password_error");

      function validatePassword() {
        const password = passwordInput.value;
        const confirmPass = confirmPassInput.value;

        if (password !== confirmPass) {
          passwordError.textContent = "Passwords do not match";
          passwordError.classList.add("error-message-small");
          return false;
        } else {
          passwordError.textContent = "";
          passwordError.classList.remove("error-message-small");
          return true;
        }
      }

      confirmPassInput.addEventListener("input", validatePassword);
    </script>
  </body>
</html>
